main.cards {
	display: flex;
	justify-content: center; /* Aligns items perfectly to the left */
	align-items: flex-end;
	gap: 20px;
	flex-wrap: wrap;
}

.img1,.img2,.img3{
    outline: 5px solid red;
	margin: 10px;
	border: 3px solid #000000;
	box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
	max-width:25vw;
}
