main.cards {
	display: flex;
	flex-wrap: wrap; /* Allows images to flow responsively into new lines */
	justify-content: center; /* Aligns items perfectly to the left */
	align-items: flex-end;
	gap: 20px
}

main.cards img {
    outline: 5px solid red;
	margin: 10px;
	border: 3px solid #000000;
	box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
